body{
    background-image: url(../images/starwars.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    margin: 20px;
    
}
#selection{
    float: left;
}
h1{
    color: #ffffff;
    font-size: 40px;
    text-shadow: 1px 1px 0px #000;
}
h2{
    color: #ffffff;
    font-size: 25px;
    text-shadow: 1px 1px 0px #000;
}
.images{
    width: 150px;
    overflow: auto;
    float: left;
    padding: 5px;
    background-color: #666;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.yourCharacter, .enimiesArea{
    height: 180px;
}
.yourCharacter, .enimiesArea, .fightSection, .dark, .light{
    margin-bottom: 10px;
    margin-top: 10px;
}
#attack{
    margin-top: 10px;
}